/*@import url(//s1.wp.com/i/fonts/merriweather/merriweather.css);*/

@media (min-device-width: 768px) {
    #bit, #bit a.bsub {
        display: block;
    }
}

html, body {
    height: 100%;
}

.fill-height {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;

    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;

    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;

    margin: .67em 0;
}

mark {
    color: #000;
    background: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
    color: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;

    border: 0;
}

input {
    line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    box-sizing: content-box;

    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em;
    border: 1px solid silver;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInPartial {
    0% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(0);
    }

    100% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(-280px);
    }
}

@keyframes slideInPartial {
    0% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(0);
    }

    100% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(-280px);
    }
}

@-webkit-keyframes slideOutPartial {
    0% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(-280px);
    }

    100% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(0);
    }
}

@keyframes slideOutParial {
    0% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(-280px);
    }

    100% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(0);
    }
}

@-webkit-keyframes slideInFull {
    0% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(0);
    }

    100% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(-100%);
    }
}

@keyframes slideInFull {
    0% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(0);
    }

    100% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutFull {
    0% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(-100%);
    }

    100% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(0);
    }
}

@keyframes slideOutFull {
    0% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(-100%);
    }

    100% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(0);
    }
}

@-webkit-keyframes slideButtonIn {
    0% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(278px);
    }

    100% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(0);
    }
}

@keyframes slideButtonIn {
    0% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(278px);
    }

    100% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(0);
    }
}

@-webkit-keyframes slideButtonOut {
    0% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(0);
    }

    100% {
        -webkit-transition-timing-function: cubic-bezier(0, .59, .54, 1);
        -webkit-transform: translateX(280px);
    }
}

@keyframes slideButtonOut {
    0% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(0);
    }

    100% {
        transition-timing-function: cubic-bezier(0, .59, .54, 1);
        transform: translateX(280px);
    }
}


body,
button,
input,
select,
textarea {
    font-family: Alegreya Sans, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #e6edf0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    clear: both;
    text-transform: uppercase;
}

h1 {
    font-size: 43px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 13px;
}

p {
    margin-top: 0;
    /*margin-bottom: 1.5em;*/
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    font-family: 'Courier 10 Pitch', Courier, monospace;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 1.6;
    overflow: auto;
    max-width: 100%;
    margin-bottom: 1.6em;
    padding: 1.6em;
    background: #313537;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: 15px;
    font-size: .9375rem;
}

abbr,
acronym {
    cursor: help;
    border-bottom: 1px dotted #313537;
}

mark,
ins {
    text-decoration: none;
    background: #666;
}

big {
    font-size: 125%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #515151;
}

blockquote,
q {
    font-style: italic;
    padding-left: 1.5em;
    quotes: '' '';
    border-left: 4px solid #313537;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

hr {
    height: 4px;
    margin-bottom: 1.5em;
    border: 0;
    background-color: #313537;
}

ul,
ol {
    margin: 0 0 1.5em 1.5em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
    padding: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    margin: 0 0 1.5em;
}

td,
th {
    padding: .75em 3px;
}

td {
    border-bottom: 1px solid #313537;
}

th {
    border-bottom: 4px solid #313537;
}

.wellBordered {
    font-family: Alegreya Sans, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: .75em 1.5em;
    transition: .3s;
    letter-spacing: 2px;
    color: white;
    border: 4px solid;
    border-color: #313537;
    border-radius: 0px;
    background: #3e4244;
    box-shadow: none;
    text-shadow: none;
    margin-bottom: 10px;

}

.wellBordered:hover {
    border-color: #313537;
    background-color: #313537;
    box-shadow: #dbdbdb;
}

.wellBordered:active,
.wellBordered:focus {
    border-color: #313537;
    box-shadow: #dbdbdb;
}


.yellowBtn {
    font-family: Oswald, sans-serif;
    line-height: 1;
    font-size: 16px;
    padding: .75em 1.5em;
    transition: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 4px solid;
    border-color: #f0ad4e;
    border-radius: 0px;
    background: #3e4244;
    box-shadow: none;
    text-shadow: none;
}

.yellowBtn:hover {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
    box-shadow: #dbdbdb;
}

.yellowBtn:active,
.yellowBtn:focus {
    border-color: #f0ad4e;
    box-shadow: #dbdbdb;
}

.redBtn {
    font-family: Oswald, sans-serif;
    line-height: 1;
    font-size: 16px;
    padding: .75em 1.5em;
    transition: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 4px solid;
    border-color: #8C3636;
    border-radius: 0px;
    background: #3e4244;
    box-shadow: none;
    text-shadow: none;
}

.redBtn:hover {
    border-color: #8C3636;
    background-color: #8C3636;
    box-shadow: #dbdbdb;
}

.redBtn:active,
.redBtn:focus {
    border-color: #8C3636;
    box-shadow: #dbdbdb;
}

.greenBtn {
    font-family: Oswald, sans-serif;
    line-height: 1;
    font-size: 16px;
    padding: .75em 1.5em;
    transition: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 4px solid;
    border-color: #5cb85c;
    border-radius: 0px;
    background: #3e4244;
    box-shadow: none;
    text-shadow: none;
}

.greenBtn:hover {
    border-color: #5cb85c;
    background-color: #5cb85c;

}

.greenBtn:active,
.greenBtn:focus {
    border-color: #5cb85c;
}


.grayBtn {
    font-family: Oswald, sans-serif;
    line-height: 1;
    margin-bottom: 3px;
    font-size: 10px;
    height: 46px;
    width: 74px;
    padding: .75em 1.5em;
    transition: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 4px solid;
    border-color: #BBB;
    border-radius: 0px;
    background: #3e4244;
    box-shadow: none;
    text-shadow: none;
}

.grayBtn:hover {
    border-color: #BBB;
    background-color: #BBB;

}

.grayBtn:active,
.grayBtn:focus {
    border-color: #BBB;
}

.alertDng {
    margin-top: 40px;
    text-align: center;
    font-family: Oswald, sans-serif;
    line-height: 1;
    font-size: 16px;
    padding: .75em 1.5em;
    transition: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 4px solid;
    border-color: #8C3636;
    border-radius: 0px;
    background: #3e4244;
    box-shadow: none;
    text-shadow: none;
}

button {
    font-family: Oswald, sans-serif;
    line-height: 1;
    font-size: 16px;
    padding: .75em 1.5em;
    transition: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 4px solid;
    border-color: #66c0ec;
    border-radius: 0px;
    background: #3e4244;
    box-shadow: none;
    text-shadow: none;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
    font-family: Oswald, sans-serif;
    line-height: 1;
    font-size: 20px;
    padding: .75em 1.5em;
    transition: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 4px solid;
    border-color: #66c0ec;
    border-radius: 0px;
    background: #3e4244;
    box-shadow: none;
    text-shadow: none;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
    border-color: #66c0ec;
    background-color: #66c0ec;
    box-shadow: none;
}

button:active,
button:focus,
input[type='button']:active,
input[type='button']:focus,
input[type='reset']:active,
input[type='reset']:focus,
input[type='submit']:active,
input[type='submit']:focus {
    border-color: #66c0ec;
    box-shadow: none;
}

label {
    font-family: Oswald, sans-serif;

    letter-spacing: 2px;
    text-transform: uppercase;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
    transition: .3s;
    color: #313537;
    border: 4px solid #313537;
    border-radius: 1px;
    background-color: #3e4244;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='range']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='color']:focus,
textarea:focus {
    color: #cad9d9;
    border-color: #cad9d9;
    outline: none;
}

input[type='search'] {
    box-sizing: border-box;
}

select {
    display: inline-block;
    color: #cad9d9;
    border: 4px solid #313537;
    border-radius: 1px;
    background-color: #3e4244;
}

select:focus {
    color: #cad9d9;
    border: 4px solid #cad9d9;
    outline: none;
}

option:focus,
option:active,
option:target,
option:hover,
option:checked {
    color: #cad9d9;
    border: 4px solid #cad9d9;
    outline: none;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'] {
    padding: .5em;
}

textarea {
    width: 100%;
}

a {
    text-decoration: none;
    color: #66c0ec;
}

a:visited {
    color: #66c0ec;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #66c0ec;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

.navigation-wrapper {
    position: relative;
    min-height: 68px;
    margin-bottom: 3em;
}

.main-navigation {
    font-family: Oswald, sans-serif;
    font-size: 13px;
    font-weight: bold;
    display: block;
    clear: both;
    width: 100%;
    margin-top: 1.5em;
    padding-top: 88px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-navigation ul {
    margin: 0;
    list-style: none;
}

.main-navigation ul ul {
    padding-left: 1.5em;
}

.main-navigation li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation a {
    display: block;
    margin-right: -3px;
    padding: .75em 0;
    transition: .3s;
    text-decoration: none;
    color: #cad9d9;
}

.main-navigation a:after {
    position: absolute;
    z-index: -1;
    bottom: -1px;
    left: 0;
    display: none;
    visibility: hidden;
    width: calc(100% + 1px);
    height: 6px;
    margin: 0;
    content: '';
    transition: .3s;
    opacity: 0;
    background-color: #66c0ec;
}

.main-navigation a:hover,
.main-navigation a:visited:hover {
    color: #e6edf0;
}

.main-navigation a:hover:after,
.main-navigation a:visited:hover:after {
    visibility: visible;
    opacity: 1;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
    color: #e6edf0;
}

.main-navigation .current_page_item > a:after,
.main-navigation .current-menu-item > a:after,
.main-navigation .current_page_ancestor > a:after {
    visibility: visible;

    opacity: 1;
}

.main-navigation ul {
    display: none;
}

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

.menu-toggle {
    position: absolute;
    top: 1.2em;
    left: 0;
    max-width: 50%;
}

@media screen and (min-width: 50em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.alignleft {
    display: inline;
    float: left;
    margin: .75em 1.5em .75em 0;
}

.alignright {
    display: inline;
    float: right;
    margin: .75em 0 .75em 1.5em;
}

.aligncenter {
    display: block;
    margin: .75em auto;
    margin-right: auto;
    margin-left: auto;
}

.site {
    width: 90%;
    margin: 0 auto;
}

.content-area {
    float: none;
    margin: 0;
}

.site-main {
    margin: 0;
}

.site-footer {
    clear: both;
    width: 100%;
}

.site {
    width: 100%;
    margin: 0 auto;
}

.content-area {
    float: none;
    margin: 0;
}

.site-main {
    margin: 0;
}

.site-content .widget-area {
    overflow: hidden;
    width: 100%;
}

.site-footer {
    clear: both;
    width: 100%;
}

.site-header {
    margin-bottom: 3em;
}

.custom-header {
    display: block;
    margin: 0 auto 1.5em;
}

.site-logo-link {
    display: block;
    margin: 0 0 .75em;
}

.site-title {
    line-height: 1;
    margin: 0;
    margin-right: -10px;
    letter-spacing: 3px;
}

.site-title a {
    text-decoration: none;
}

.site-title a:hover {
    color: #66c0ec;
}

.site-title:after {
    display: block;
    clear: both;
    width: 100%;
    height: 6px;
    margin: .125em 0;
    content: '';
    background: #313537;
}

.site-description {
    font-family: Alegreya Sans, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    text-transform: none;
}

.entry-title {
    font-size: 32px;
    line-height: 1.4;
    display: inline-block;
    margin: -5px 0 .375em;
    letter-spacing: 2px;
    color: #66c0ec;
}

.entry-title a {
    position: relative;
    display: block;
    margin-right: -3px;
    transition: .3s;
    text-decoration: none;
}

.entry-title a:after {
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 0;
    display: inline;
    visibility: hidden;
    width: calc(100% - 2px);
    height: 8px;
    margin: 0;
    content: '';
    transition: .3s;
    opacity: 0;
    background-color: #66c0ec;
}

.entry-title a:hover {
    color: #e6edf0;
}

.entry-title a:hover:after {
    visibility: visible;
    opacity: 1;
}

.entry-footer {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #cad9d9;
}

.entry-footer a {
    text-decoration: none;

    color: #cad9d9;
}

.entry-footer a:hover {
    color: #66c0ec;
}

.single .entry-meta {
    width: 100%;
    margin-bottom: .75em;
}

.single .entry-meta > span {
    display: block;
    width: 100%;
    margin-bottom: .75em;
}

.single .entry-meta > span:last-of-type {
    margin-bottom: 0;
}

.entry-date .month-and-day {
    margin-right: 8px;
}

.entry-footer .edit-link {
    display: inline-block;

    width: 100%;
    margin-top: 1.5em;
}

.single .entry-footer {
    margin-bottom: 1.5em;
}

.entry-footer span {
    display: inline-block;
    clear: both;

    width: 100%;
}

.entry-content a,
.entry-footer a,
.site-footer a,
.entry-meta a,
.entry-summary a,
.widget a {
    transition: .3s;
    word-wrap: break-word;
}

.single .entry-content {
    margin-bottom: 3em;
}

.page-links {
    font-family: Oswald, sans-serif;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.page-links a {
    text-decoration: none;
}

.page-header {
    margin-bottom: 3em;
}

.page-header:after {
    display: block;
    clear: both;
    width: 100%;
    height: 6px;
    margin: .125em 0;
    content: '';
    background: #313537;
}

.page-content {
    padding-bottom: 3em;
}

.page-title {
    font-size: 32px;
    color: #cad9d9;
}

.site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    overflow: hidden;
    font-style: italic;
    margin: 0 0 3em;
    text-align: center;
    color: #cad9d9;
}

.site-footer a {
    text-decoration: none;
    color: #cad9d9;
}

.site-footer .sep {
    display: none;
}

.site-footer:before {
    display: block;
    clear: both;
    width: 100%;
    margin: 0 0 3em;
    content: '';
    background: #313537;
}

@media only screen and (min-width: 40.063em) {
    blockquote {
        font-size: 20px;
    }

    .site {
        max-width: 1080px;
        margin: 0 auto;
    }

    .site-header {
        margin-bottom: 3em;
    }

    .single .entry-title,
    .single .portfolio-entry-title {
        font-size: 43px;
        margin-top: -16px;
    }

    .entry-content {
        font-size: 20px;
    }

    h1 {
        font-size: 63px;
    }

    h2 {
        font-size: 43px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 16px;
    }

    .entry-wrapper {
        padding: 0;
    }
}

@media screen and (min-width: 50em) {
    .site-title {
        font-size: 130px;
        letter-spacing: 8px;
    }

    .site-description {
        font-size: 17px;
    }

    .navigation-wrapper {
        margin-bottom: 4em;
    }

    .main-navigation {
        float: left;
        clear: none;
        max-width: 100%;
        margin-bottom: 4.5em;
        padding-top: 0;
    }

    .main-navigation a {
        padding-bottom: 0;
    }

    .main-navigation a:after {
        bottom: .85em;

        display: inline;
    }

    .main-navigation ul {
        margin: 0;
        padding-left: 0;

        list-style: none;
    }

    .main-navigation ul ul {
        padding-left: 0;
    }

    .main-navigation ul ul > li:first-of-type {
        padding-top: .75em;
    }

    .main-navigation ul ul > li:first-of-type:before {
        position: absolute;
        top: -10px;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        margin-left: -10px;
        content: '';
        border-width: 0 10px 10px 10px;
        border-style: solid;
        border-color: transparent transparent #313537 transparent;
    }

    .main-navigation ul ul > li:last-of-type {
        padding-bottom: .75em;
    }

    .main-navigation ul ul {
        position: absolute;
        z-index: 99999;
        top: 2.7em;
        left: -999em;
        text-align: center;
        background-color: #313537;
    }

    .main-navigation ul ul li:hover > ul,
    .main-navigation ul ul li.focus > ul {
        left: 100%;

        margin-left: 0;
    }

    .main-navigation ul ul ul {
        top: 0;
        left: -999em;

        margin-left: 0;
    }

    .main-navigation ul ul ul > li:first-of-type:before {
        display: none;
    }

    .main-navigation ul ul li {
        margin-right: 0;
        padding-bottom: 0;
    }

    .main-navigation ul ul li:hover > ul,
    .main-navigation ul ul li.focus > ul {
        left: 100%;
    }

    .main-navigation ul ul a {
        display: block;

        width: 170px;
        padding: .75em 1.5em;
    }

    .main-navigation ul ul a:after,
    .main-navigation ul ul a:hover:after {
        display: none;
    }

    .main-navigation ul ul > li:last-of-type a {
        border-bottom: 0;
    }

    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
        left: 50%;

        margin-left: -85px;
    }

    .main-navigation li {
        position: relative;

        float: left;

        margin-right: 1.5em;
        padding-bottom: .75em;
    }

    .main-navigation li:hover > a:after,
    .main-navigation li.focus > a:after {
        visibility: visible;

        opacity: 1;
    }

    .entry-meta {
        float: left;

        width: 15%;
    }

    .home .entry-date span {
        display: block;

        width: 100%;
    }

    .single .entry-meta {
        margin-bottom: 1.5em;
    }

    .single .entry-meta:before {
        display: block;
        clear: both;

        width: 100%;
        height: 6px;
        margin: 0 0 1.5em;

        content: '';

        background: #313537;
    }

    .entry-wrapper {
        margin-top: 30px;
        width: 100%;
    }

    #infinite-handle span,
    .infinite-loader {
        margin-left: 20%;
    }

    .single .entry-meta {
        width: 25%;
        margin-bottom: 3em;
    }

    body.page .featured-image,
    .single .featured-image {
        float: right;

        width: 100%;
    }

    .single .entry-wrapper,
    body.page .entry-wrapper {
        float: right;
        clear: none;

        width: 70%;
    }

    .single .post,
    .single .page,
    body.page .post,
    body.page .page {
        float: right;

        width: 100%;
    }

    .site-content .widget-area {
        float: left;

        width: 25%;
    }

    .single .entry-title,
    .single .portfolio-entry-title {
        float: right;
        clear: none;

        width: 70%;
    }

    .comments-area .comment-list,
    .comments-area .comment-list .children {
        margin-left: 0;
        padding-left: 0;

        list-style: none;
    }

    .comments-area .comment-list .children {
        padding-left: 0;
    }

    .comments-area .comment-list {
        margin-left: 110px;
    }

    .comments-area .comment-list > .parent {
        margin-left: -70px;
        padding-left: 70px;

        border-left: 4px solid #666;
    }

    .comments-area .pingback {
        margin-left: -110px;
    }

    .comments-area .comment-body {
        margin-bottom: 4.5em;
    }

    .comments-area .avatar {
        width: 75px;
        max-width: 75px;
        height: 75px;
        margin: 0;
    }

    .comments-area .comment-author {
        position: relative;

        float: left;

        max-width: 60%;
    }

    .comments-area .comment-author .avatar {
        position: absolute;
        top: 0;
        left: -110px;
    }

    .comments-area .comment-metadata {
        float: right;

        max-width: 40%;

        text-align: right;
    }

    .comments-area .comment-form-author input,
    .comments-area .comment-form-email input,
    .comments-area .comment-form-url input {
        width: 87%;
    }
}

.open-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.open-popup .open-popup-content {
    margin: 200px auto 0px auto;
    width: 530px;
    height: 300px;
    background-color: #454545;
    border-radius: 0px;
    box-shadow: 10px 10px 10px #000;
}

.mapView {
    height: 550px;
    width: 768px;
}

.map-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.map-popup .map-popup-content {
    margin: 100px auto 0px auto;
    height: 650px;
    width: 800px;
    background-color: #454545;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


