<div class="open-popup popup-animation-show" ng-show="$ctrl.openPopup">
    <div class="open-popup-content">
        <div class="panel panel-heading" style="background: #515151">
            <a href="#" class="close" aria-label="close" ng-click="$ctrl.closeModal()">&times;</a>

            <h3 class="text-center">What's happened?</h3>
        </div>
        <div style="margin: 20px">
            <p class="text-justify">
                API provides searching around the United Kingdom, it seems, that at this moment your are in the
                {{$ctrl.yourCountry}}, but you
                can choose any location in th United Kingdom on the map by yourself.
            </p>

            <div class="row" style="margin-top: 30px">
                <button class="greenBtn col-sm-5" style="margin-left: 30px"
                        ng-click="$ctrl.openGBMapClickHandler()">Choose location
                </button>
                <button class="yellowBtn col-sm-5 pull-right" style="margin-right: 30px"
                        ng-click="$ctrl.myLocationClickHandler()">Continue anyway?
                </button> <!--#5cb85c green #f0ad4e yellow-->
            </div>
        </div>
    </div>
</div>
